/* General Variables */
$dark: #131722;
$light: #ffffff;
$blue: #007aff;
$light-dark: #1b2130;
$dark-light: rgba($light, 0.3);
$dark-blue: rgba($blue, 0.3);

button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $blue;
  transition: border-color 0.25s;

  &:hover {
    color: $light;
    background-color: $dark-blue;
  }
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: $light;
  background-color: transparent;
}

.split {
  display: flex;
}

/* Start Screen */
#StartScreen {
  background-color: transparent;
  button {
    margin: 20px auto;
  }
}

/* Sidebar */
#Sidebar {
  height: auto;
  padding: 20px;
  margin: 20px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: $light-dark;

  .sidebar--header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    line-height: 0px;
    border-bottom: 2px solid $light;
    color: $light;
    .add--btn {
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }

  .sidebar--notes {
    cursor: pointer;
    margin-top: 10px;
    text-align: start;
    color: $dark-light;
    .title {
      border-radius: 10px;
      padding: 2px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text-snippet {
        max-width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        color: $light;
        background-color: $dark-blue;

        .delete-btn {
          display: block;
          &:hover {
            color: $light;
          }
        }
      }
    }
  }

  .selected-note,
  .selected-note:hover {
    color: $light !important;
    background-color: $blue !important;
  }

  .delete-btn {
    cursor: pointer;
    color: $dark-light;
    width: 18px;
    height: 18px;
    display: none;
  }
}

/* Editor */
#Editor {
  width: 70%;
  padding: 20px 10px;
  margin: 20px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: $light-dark;

  .mde-header {
    display: grid;
    grid-template-columns: 0.75fr 1fr 1fr;
    justify-items: baseline;
    margin-bottom: 10px;
    border-bottom: 2px solid $light;
    .mde-tabs {
      display: flex;
      align-self: center;
      button {
        margin: 0 10px 0 4px;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 10px 0;
      li {
        margin: 0 4px;
        svg {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
  textarea {
    width: 99%;
    max-width: 99%;
  }
}

.mde-text {
  min-height: 70vh;
}

.mde-preview {
  display: block;
  text-align: start;
  min-height: 80vh !important;
  ul {
    margin: 0;
    padding: 0 0 0 30px;
  }
  ol {
    margin: 0;
    padding: 0 0 0 30px;
    li::marker {
      padding-right: 10px;
    }
  }
}

.invisible {
  display: none;
}
